<div class="container-fluid p0">
    <div class="row no-gutters w-100">
<div class="col-12 col-md-7 col-lg-7 coloum-white-bg">
    <div class="logo-wrapper">
        <img src="assets/images/login/m-logo.svg" class="img-fluid d-md-none" alt="DotcomPal" title="DotcomPal">
        <img src="assets/images/login/logo.svg" class="img-fluid d-none d-md-block" alt="DotcomPal" title="DotcomPal">
        <div class="f-15 vd-gblue-clr w400"><span class="d-none d-md-inline-block">Need an account?</span> <a routerLink="signup" class="m-blue-clr">Sign-up Free</a></div>
    </div>

    <div class="login-left-wrapper">
        <div class="container-padding smart-form">
        <div class="row">
            <div class="col-12">
                <h1 class="vd-blue-clr f-28 f-md-36 w500">Log In</h1>
                <p class="f-16 vd-gblue-clr mt10 lh160">We are excited to have you with us again.
                </p>
                <form>
                    <div class="mt25 field-white-bg">
                    <input class="form-control" type="text" placeholder="Work Email">
                    </div>
                    <div class="mt10">
                    <div class="field-white-bg">
                        <!-- error-message class -->
                        <input class="form-control pr60" id="password-field" placeholder="Password" value="" type="password">
                        <div class="form-control-icon-right">
                            <button class="btn addon-icon f-15 toggle-password" toggle="#password-field" type="button"><i class="toogle-icon icon-show f-18" aria-hidden="true"></i> </button>
                        </div>
                    </div>
                    <small class="form-text f-14 text-left vi-red-clr d-none">Please enter the correct value</small>
                    </div>
                    <div class="d-flex justify-content-between flex-wrap align-items-center mt20">
                    <div class="d-flex login-checkbox-btn smart-checkbox-btn checkbox-strong-blue ml5">
                        <input id="remember" type="checkbox">
                        <label for="remember" class="vd-gblue-clr mb0">
                            <p class="f-14 lh110 mt2 mt-md0">Keep Me Logged In   
                            </p>
                        </label>
                    </div>
                    <a href="forgot-password.html" class="f-14 lh110 t-decoration-none vd-gblue-clr">Forgot Password?</a>
                    </div>
                    <div class="mt24">
                    <button type="submit" class="base-btn m-blue-btn login-btn btn-block" title="Log In">Log In <i class="icon-testimonial-next f-12"></i></button>
                    </div>
                </form>                           
            </div>
        </div>
        </div>
    </div>

    <div class="footer-wrapper d-none d-md-block">
        <div class="f-13 w400 d-gblue-clr lh160 text-left text-md-center">All right reserved 2021 @ DotcomPal.com<br class="d-block d-md-none">
            <a href="https://www.dotcompal.com/terms-condition" target="_blank" class="m-blue-clr w400">Terms of Service Privacy Policy.</a>
        
        </div>         
    </div>
</div>





<div class="col-12 col-md-5 col-lg-5 login-right-wrapper">
    <div class="container-padding">
       <h4 class="f-20 f-md-22 w500 lh140 vd-gblue-clr">Join FREE Live Training</h4>
       <p class="d-gblue-clr f-14 f-15 mt5 lh140">Learn how to launch, sell, and market online FAST & EASY with DotcomPal</p>
       <div class="mt14 mt-md23">
             <img src="assets/images/widgets/free-webinar.png" class="img-fluid" alt="Free Webinar">
       </div>
       <img src="assets/images/widgets/video-shadow.png" class="img-fluid d-block mx-auto" alt="Shadow">
       <div class="f-16 f-md-18 w500 lh140 vd-gblue-clr mt4 mt-md6">Book your seat today (limited to first 100 users)</div>
       <div class="mt15 mt-md20">
          <a href="#" class="base-btn default-btn register-free-btn d-block d-md-inline-block px-md30">Register Now <i class="icon-testimonial-next f-12"></i></a>
       </div>
     <!-- Mobile footer -->
     <div class="d-md-none">
         <!-- Seprate Border -->
         <div class="login-separate-border d-md-none"></div>  
         <div class="f-13 w400 d-gblue-clr lh160 text-center mt30">All right reserved 2021 @ DotcomPal.com<br class="d-block d-md-none">
         <a href="https://www.dotcompal.com/terms-condition" target="_blank" class="m-blue-clr w400">Terms of Service Privacy Policy.</a>
         </div>
     </div>				   
    </div>
 </div>



</div>
</div>