<div class="container-fluid p0">
    <div class="row no-gutters w-100">
       <div class="col-12 col-md-7 col-lg-7 coloum-white-bg">
          <div class="logo-wrapper">
             <img src="assets/images/login/m-logo.svg" class="img-fluid d-md-none" alt="DotcomPal" title="DotcomPal">
             <img src="assets/images/login/logo.svg" class="img-fluid d-none d-md-block" alt="DotcomPal" title="DotcomPal">
             <div class="f-15 vd-gblue-clr w400"><span class="d-none d-md-inline-block">Have an account?</span> <a href="auth/login" class="m-blue-clr">Log In</a></div>
          </div>
          <div class="login-left-wrapper">
             <div class="container-padding smart-form">
                <div class="row">
                   <div class="col-12">
                      <h1 class="vd-blue-clr f-28 f-md-36 w500">Forgot Password?</h1>
                      <p class="f-16 vd-gblue-clr mt10 lh160">Please provide your registered email address to get your <br class="d-none d-xl-block"> password reset link.
                      </p>
                      <form>
                         <div class="mt15 mt-md20 field-white-bg">
                          <input class="form-control" type="email" placeholder="Registered Email ID">
                         </div>
                         <div class="mt20">
                            <button type="submit" class="base-btn m-blue-btn login-btn btn-block" title="Send My Link">Send My Link <i class="icon-testimonial-next f-12"></i></button>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
          </div>
          <div class="footer-wrapper d-none d-md-block">
               <div class="f-13 w400 d-gblue-clr lh160 text-left text-md-center">All right reserved 2021 @ DotcomPal.com<br class="d-block d-md-none">
               <a href="https://www.dotcompal.com/terms-condition" target="_blank" class="m-blue-clr w400">Terms of Service Privacy Policy.</a>
               </div>         
          </div>
       </div>
       <div class="col-12 col-md-5 col-lg-5 login-right-wrapper">
          <div class="container-padding">
             <h4 class="f-20 f-md-22 w500 lh140 vd-gblue-clr">Join FREE Live Training</h4>
             <p class="d-gblue-clr f-14 f-15 mt5 lh140">Learn how to launch, sell, and market online FAST & EASY with DotcomPal</p>
             <div class="mt14 mt-md23">
                   <img src="assets/images/widgets/free-webinar.png" class="img-fluid" alt="Free Webinar">
             </div>
             <img src="assets/images/widgets/video-shadow.png" class="img-fluid d-block mx-auto" alt="Shadow">
             <div class="f-16 f-md-18 w500 lh140 vd-gblue-clr mt4 mt-md6">Book your seat today (limited to first 100 users)</div>
             <div class="mt15 mt-md20">
                <a href="#" class="base-btn default-btn register-free-btn d-block d-md-inline-block px-md30">Register Now <i class="icon-testimonial-next f-12"></i></a>
             </div>
           <!-- Mobile footer -->
           <div class="d-md-none">
               <!-- Seprate Border -->
               <div class="login-separate-border d-md-none"></div>  
               <div class="f-13 w400 d-gblue-clr lh160 text-center mt30">All right reserved 2021 @ DotcomPal.com<br class="d-block d-md-none">
               <a href="https://www.dotcompal.com/terms-condition" target="_blank" class="m-blue-clr w400">Terms of Service Privacy Policy.</a>
               </div>
           </div>				   
          </div>
       </div>
    </div>
 </div>